
@let booth = booth$ | async;

<root-layout>
  <layout-header header-primary>
    <booth-header [id]="booth?.id" [joinedAt]="booth?.joinedAt"></booth-header>
  </layout-header>

  <page-layout>
    <div class="booth-page-main">
      @if(messages) {
        @for (message of messages; track $index) {
          <div class="booth-message shallow-shadow">
            <p>{{ message.content }}</p></div>
        }
      } @else {
        Loading Messages ...
      }
    </div>
  </page-layout>

  <layout-footer footer-primary>
    <booth-footer
      [pending]="sending"
      (onMessage)="handleMessage($event)"></booth-footer>
  </layout-footer>
</root-layout>
