
@let booth = booth$ | async;

<page-layout noPadding>
  <layout-header header-primary>
    <booth-header 
      [id]="booth?.id" 
      [joinedAt]="booth?.joinedAt">
    </booth-header>
  </layout-header>

  <div class="booth-page-main" #boothChatContainer 
    [intersectionObserver]="scrollMarker"
    [rootMargin]="10"
    [threshold]="0.1"
    (intersect)="messages && handleIntersect()" 
  >
    <span #boothScrollMarker></span>
    @if(loading) {
      Loading Older Messages ...
    }

    @if(messages) {
      <booth-chat 
        [messages]="messages"
        (afterViewInit)="chatViewInit()"
      />
    } @else {
      Loading Messages ...
    }
  </div>

  <layout-footer footer-primary>
    <booth-footer
      [pending]="sending"
      (message)="handleMessage($event)">
    </booth-footer>
  </layout-footer>
</page-layout>

  

