// lighten - https://study.com/learn/lesson/hyperion-greek-mythology-god-of-light.html

@mixin hyperion() {
  --color-background: #FFFFFF;
  --color-app-navbar-bg: #FFFFFF;
  --color-chat-message-bg: #FFFFFF;
  --color-booth-header-bg: #FFFFFF;
  --color-booth-header-border: #909090;
}