
.show-for-lg {
  @media screen and (max-width: $breakpoint-sm) {
    display: none !important;
  }
}

.show-for-sm {
  @media screen and (min-width: $breakpoint-sm) {
    display: none !important;
  }
}

.deep-shadow {
  box-shadow: 0 10px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.shallow-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4);
}

a {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-position: inside;
}